<footer class="navbar fixed-bottom text-white-50" >
    <div class="container text-center">
        <p class="navbar-text col-md-12 col-sm-12 col-xs-12"><%= copyright_generator %></p>
    </div>
</footer> 