<div class="col-sm-3 blog-sidebar">
    <div class="p-4">
        <h4>About</h4>
        <p>Here are some musings and deeper dives into some projects. </p>
    </div>

    <div class="p-4">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled social-links">
            <li>
                <%= render "shared/contact" %>
            </li>
        </ol>
    </div>

</div>