<div class="blog-header">
    <div class="container">
        <h1 class=blog-title">My Blog</h1>
        <p class="lead blog-description">Here I will include some blog posts about other projects.</p>
        <button type="button" class="btn btn-outline-primary">
            <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin)%>
        </button>
        <p style="margin-bottom: 4em"></p>
    </div>
</div>