<p><a href="https://www.linkedin.com/in/ana-villa-03817367/"><%= fa_icon "linkedin" %></a></p>
<p><a href="https://github.com/Avillameza"><%= fa_icon "github" %></a> </p>
<p><a href="mailto:villameza.ana@gmail.com?subject=PortfolioContact" "email me"><%= fa_icon "envelope-open" %></a> </p>