<h1>About Me</h1>

<hr>

<div class="row">
    <div class="col-md-4">
        <%= image_tag "Profile.jpeg", width:200, alt: "profile image" %>
    </div>

    <div class="col-md-8">
    <p>Self-taught software engineer with a background in general engineering from Harvey Mudd College.</p>
    </div>
</div>

