<h1>About Me</h1>

<hr>

<div class="row">
    <div class="col-md-4">
        <%= image_tag "#{S3_BUCKET_NAME}.s3.#{AWS_REGION}.amazonaws.com/Profile.jpeg", width:200, alt: "profile image" %>
    </div>

    <div class="col-md-8 alignment">
    <p>Self-taught software engineer with a background in general engineering from Harvey Mudd College.</p>
    <br>
    <p>I enjoy making, no matter if it's in a machine shop or on a computer. I will continue to make and 
        improve. </p>
    </div>
</div>

