<main class="px-3">
    <h1>My Software Portfolio</h1>
    <p class="lead">
        Aspiring self-taught software engineer.
    </p>
    <p class="lead">
        <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
    </p>
</main>